# Environment variables
.env

# Node modules
node_modules/

# Logs
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo

# Build files
dist/
build/

# Access codes files (не комітити!)
access_codes.txt
access_codes_for_manager.txt
